.navbar > *,
nav,
.navbar {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0;
  background-color: #006491 !important;
}

a:hover {
  color: #000000 !important;
}

.options {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-user {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.rounded {
  border-radius: .75rem !important;
}