{%- extends "customer/base.html" %}
{% block page_content %}
<body>
    <div class="container py-5">
        <h2>Hello, {{ current_user.first_name }}</h2>
        <h3>Points: {{ current_user.points }}</h3>

        <input type="button" class="btn btn-dark" onclick="location.href='{{ url_for('order_history')}}';" value="Go to order history" />

        <input type="button" class="btn btn-dark" onclick="location.href='{{ url_for('saved_cards')}}';" value="Go to saved cards" />

        <input type="button" class="btn btn-dark" onclick="location.href='{{ url_for('saved_addresses')}}';" value="Go to saved addresses" />
    
    </div>
    <script>
        
    </script>
</body>
{%- endblock %}