{%- extends "customer/base.html" %}
{% block content %}
<div class="container">
    <h1>Sonimod Menu</h1>
{% for item in items %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p>{{item.description}}</p>
        <p class="card-text">Cost: {{item.cost}}</p>

        <form action="{{ url_for('addToCart', productId=item.id)}}">
            <input type="submit" value="Add to {{item.name}}" />
        </form>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}