{%- extends "customer/base.html" %}
{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-lg-10 mx-auto col-12 text-center">
            <h1 class="text-dark">Our Menu</h1>
            <p class="lead">Sonimod's has a wide variety of Pizzas and Water.</p>
        </div>
        <div class="col-12">
            <hr class="accent my-5">
        </div>
        <div class="card-columns">


            {% for item in items %}
            <div class="card card-body">
                <span class="float-right font-weight-bold">${{item.cost}}</span>
                <h6 class="text-truncate">{{item.name}}</h6>
                <p class="small">{{item.description}}</p>
            </div>


            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}