{%- extends "customer/base.html" %}
{% block content %}
<h2 class="text-center">How do you want your Sonimod's today? <h2>

        <ul class="list-inline" style="display:flex; justify-content: space-around;">
            <li class="list-inline-item"><span class="fas fa-pizza-slice" style="font-size: 10rem;"><br><button
                        type="button" class="btn btn-dark" name="Delivery">Delivery</button></span></li>
            <li class="list-inline-item"><span class="fas fa-pizza-slice" style="font-size: 10rem;"><br><button
                        type="button" class="btn btn-dark" name="Pick-up">Pick-up</button></span></li>
            <li class="list-inline-item"><span class="fas fa-pizza-slice" style="font-size: 10rem;"><br><button
                        type="button" class="btn btn-dark" name="Dine-In">Dine-In</button></span></li>
        </ul>
        <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-success" href={{ url_for('login')}}>Continue to
            <!-- get order type -->.</a>
        </div>
        {% endblock %}