{% extends "bootstrap/base.html" %}
{% block title %}Restaurant{% endblock %}
{% block head %}
    {{ super() }}
    {{ fontawesome_html() }}
    <link rel="stylesheet" href={{ url_for('static', filename = 'style.css') }}>
    <script src="https://kit.fontawesome.com/42a15439d4.js" crossorigin="anonymous"></script>
{% endblock %}



{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #222222 !important;">
  <span class="fas fa-pizza-slice"> <a href="{{ url_for('index') }}">Sonimod</a></span>
  <a class="nav-item nav-link" href="{{ url_for('menu') }}">Menu</a>
  <a class="nav-item nav-link" href="{{ url_for('login') }}">Sign In</a>
  <a class="nav-item nav-link" href="{{ url_for('cart') }}">Cart</a>
</nav>

{% endblock %}
